
<div class="col-md-12">
  <div class="box-center">
    <p class="empty-pic"></p>
    <h3>购物车还是空的~ </h3>
    <a href="/products" class="btn btn-primary btn-round btn-normal"> 快去挑选商品</a>
  </div>
</div>
