<div class="container">
  <div class="search-page sp-4">
      <% if @products.present? %>
        <span style="margin-left:6em">已为您找到<%= @products.count %>个宝贝</span>
          <ul class="productList">
            <%= render :partial => "product_items", :collection => @products, :as => :product %>
          </ul>
      <% else %>
        <div class="col-md-12">
          <div class="box-center">
            <p class="search-empty-pic"></p>
            <h3> 嗯~ 没找到你说的东西，换个关键词试试？ </h3>
            <a href="/products" class="btn btn-primary btn-round btn-normal"> 要不去这儿看看</a>
          </div>
        </div>
      <% end %>
  </div>
</div>
