<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails101
        <br>Design by wangjingru

    </p>
</footer> -->
<div class="container-fluid nopadding">
  <div class="row">
    <div class="col-md-12 nopadding">
       <footer class="footer">
          <p class="text-center">Copyright ©2017 效能空间
              <br>Design by
              <a href="http://ann61-blog.logdown.com" target=_new> 王静如 </a>|
              <a href="https://github.com/ann61wang/job-listing" target=_new> 郑家喻 </a>
          </p>
      </footer>
    </div>
  </div>
</div>
